@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Lấy đối tượng ResponseDto từ ViewBag
    var carts = ViewBag.Carts;
    int totalSubPrice = 0;
}
<script>
    function removeFromCart(productId) {
        $.ajax({
            url: "/Seese/RemoveFromCart",
            type: "POST",
            data: {
                productId: productId
            },
            success: function (result) {
                // Xử lý kết quả nếu cần
                alert('Product removed successfully!');
                // Tải lại trang hoặc làm gì đó khác
                window.location.href = "/Seese/Cart";
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu cần
                alert('An error occurred while removing the product!');
            }
        });
    }
</script>

<div class="seese-wrapper">

    <!-- Banner & Title Area Start -->
    <div class="seese-title-area seese-extra-width">
        <div class="seese-title-bg-outer">
            <div class="container">

                <div class="seese-title-default seese-padding-none" style="">
                    <h1 class="page-title">
                        Your Cart
                    </h1>
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="3" /><meta name="itemListOrder" content="Ascending" /><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="../../index.html" rel="home"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item"><a href="../index.html"><span itemprop="name">Shop</span></a><meta itemprop="position" content="2" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">Your Cart</span><meta itemprop="position" content="3" /></li></ul></nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner & Title Area End -->


    <div class="seese-containerWrap seese-less-width">
        <div class="seese-background seese-background-outer">
            <div class="container seese-reduced">
                <div class="seese-background-inner seese-padding-none seese-container-inner" style="">
                    <div class="row">


                        <!-- Content Col Start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seese-no-sidebar seese-contentCol">
                            <div class="row seese-content-area">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="woocommerce">
                                        <div class="woocommerce-notices-wrapper"></div>
                                        @if (carts.Count != 0)
                                        {
                                            <form class="woocommerce-cart-form" action="UpdateCartItem" method="post">

                                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-remove">&nbsp;</th>
                                                            <th class="product-thumbnail">&nbsp;</th>
                                                            <th class="product-name">Product</th>
                                                            <th class="product-price">Price</th>
                                                            <th class="product-quantity">Quantity</th>
                                                            <th class="product-subtotal">Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in carts)
                                                        {
                                                            <tr class="woocommerce-cart-form__cart-item cart_item">

                                                                <td class="product-remove">
                                                                    <a class="remove" aria-label="Remove this item" data-product_id="@item.ProductId" data-product_sku="603317-03" onclick="removeFromCart(@item.ProductId)">×</a>
                                                                </td>

                                                                <td class="product-thumbnail">
                                                                    <a href="#"><img decoding="async" width="500" height="570" src="@item.Thumbnail" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" /></a>
                                                                </td>

                                                                <td class="product-name" data-title="Product">
                                                                    <a href="#">@item.ProductName</a>
                                                                </td>

                                                                <td class="product-price" data-title="Price">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <bdi>
                                                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                            <span id="price_@item.ProductId">@item.Price</span>
                                                                        </bdi>
                                                                    </span>
                                                                </td>

                                                                <td class="product-quantity" data-title="Quantity">
                                                                    <div class="quantity">
                                                                        <label class="screen-reader-text" for="quantity_65fe941953181">Wooden Container Bowl quantity</label>
                                                                        <input type="number"
                                                                       id="quantity_@item.ProductId"
                                                                       class="input-text qty text"
                                                                       name="cart[@item.ProductId]"
                                                                       value="@item.Quantity"
                                                                       aria-label="Product quantity"
                                                                       size="4"
                                                                       min="0"
                                                                       max="100"
                                                                       step="1"
                                                                       placeholder=""
                                                                       inputmode="numeric"
                                                                       autocomplete="off" />
                                                                    </div>
                                                                </td>

                                                                <td class="product-subtotal" data-title="Subtotal">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <bdi>
                                                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                            <span id="subtotal_@item.ProductId">@item.SubPrice</span>
                                                                        </bdi>
                                                                    </span>
                                                                </td>

                                                            </tr>
                                                           
                                                                // Cộng giá trị của SubPrice của mỗi mặt hàng vào tổng
                                                                totalSubPrice += item.SubPrice;
                                                            
                                                        }



                                                        <!-- Custom Changes - Coupon Code tr tag removed -->

                                                    </tbody>
                                                </table>

                                                <!-- Custom Changes Start -->
                                                <div id="cart_actions" class="row">
                                                    <div class="actions col-lg-6 col-md-6">
                                                    </div>
                                                    <div class="cart-collaterals col-lg-6 col-md-6">
                                                        <div class="cart_totals" style="margin: 30px 0px 0px 20px">

                                                            <div id="cart-box">
                                                                <!-- Custom Div Added -->



                                                                <table cellspacing="0" class="shop_table shop_table_responsive">

                                                                    <tr class="order-total">
                                                                        <th style="width:375px">Order Total</th><!-- Custom Changes - Text -->
                                                                        <td data-title="Total" style="text-align: center"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>@totalSubPrice</bdi></span></strong> </td>
                                                                    </tr>

                                                                </table>

                                                            </div>  <!-- Custom Div Added -->
                                                            <!-- Custom Changes Start -->
                                                            <div class="row" style="margin-top:20px;margin-left:-10px">
                                                                <div class="wc-update-cart col-lg-6 col-md-6">

                                                                    <input style="background:#EEEEEE;color:black" type="submit" class="button" name="update_cart" value="Update Cart" />
                                                                </div>
                                                                <!-- Custom Changes End -->
                                                                <div class="wc-proceed-to-checkout col-lg-6 col-md-6">

                                                                    <a href="https://victorthemes.com/themes/seese/shop/checkout/" class="checkout-button button alt wc-forward">
                                                                        Proceed to checkout
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Custom Changes - End - Actions moved in different position -->

                                            </form>
                                        }
                                        @if (carts.Count == 0)
                                        {
                                            <div class="wc-empty-cart-message">
                                                <div class="cart-empty woocommerce-info">
                                                    Your cart is currently empty.
                                                </div>
                                            </div>	<p class="return-to-shop">
                                                <a class="button wc-backward" href="/Seese/Shop">
                                                    Return to shop
                                                </a>
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Content Col End -->


                    </div>
                </div>
            </div>
        </div>
    </div>



</div>